# vs code
/.vscode

# Ignore executables
*.exe
*.out
*.dll
*.o

# Ignore all compiled binary files
*.bin
*.app
.out
.exe


# Ignore build directories
/build/
/bin/

# Ignore temporary files
*.tmp
*~

# compiled program
./draw_words_main
./simple_calc.out
./luhn_checksum_validation.cpp
./draw_shapes_main
./testEmoj
./side_way_triangle
